<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nutsack.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>22D4F20A683E1CE09EDA9791112E93BA0DBFA949</string>
				<key>dateExpires</key>
				<string>9/30/25</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>22D4F20A683E1CE09EDA9791112E93BA0DBFA949</string>
						<key>dateExpires</key>
						<string>9/30/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>456SHKPP26</string>
						<key>name</key>
						<string>SANITY ISLAND LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>456SHKPP26.com.nutsack.wallet</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>456SHKPP26</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Nutsack.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f0aed5fe-00df-40c8-9ab1-35c8ff1a719d</string>
				<key>dateExpires</key>
				<string>6/4/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.nutsack.wallet</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>456SHKPP26</string>
				<key>name</key>
				<string>SANITY ISLAND LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
